<html>
<head>
  <style>

    .brainWidget {
      width: 300px;
      height: 300px;
      /*border:1px solid #c0c0c0;*/
    }

    input {
      background-color: transparent;
      border: 0px solid;
      width: 100%;
      color: #CCC;
    }

    input:focus{
      outline: none;
    }

    .table-wrapper {
      position:relative;
    }
    .table-scroll {
      height:300px;
      overflow:auto;
      margin-top:20px;
    }

    .table-wrapper table thead th .text {
      position:fixed;
    }



  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="column.css">
</head>

<body>
  <div class="container">
    <div id="app">
      <h1>{{ message }}</h1>
      <h5>{{authors}}</h5>
      <p class="make-column">
        {{abstract}}
      </p>
      <div v-for="exp in experiments">
        <div class="row">
          <h5><Textfield v-model="exp.title" placeholder="Enter Title"></Textfield></h5>
          <p><Textfield v-model="exp.caption" placeholder="Enter Caption"></Textfield></p>
        </div>
         <div class="row">
           <brain-widget :id="exp.id" :locations="exp.locations" :canvasid="exp.canvas_id" :tableid="exp.table_id" :renderer="renderer"></brain-widget>


         </div>
      </div>

    </div>
  </div>
  <canvas id="renderer" style="position:fixed;top:0;left:0;width:100%;height:100%;pointer-events:none"></canvas>
</body>

<script src="https://unpkg.com/vue"></script>
<script src="three.min.js"></script>
<script src="trackball-controls.js"></script>
<script src="subdivision-modifier.js"></script>
<script src="jquery.js"></script>
<script src="PLYLoader.js"></script>
<script src="brain-widget.js"></script>
<script src="lodash.min.js"></script>
<script type="text/javascript" src="Sortable.min.js"></script>
<script type="text/javascript" src="vuedraggable.min.js"></script>

<script type="text/x-template" id="tab">
  <div class="table-wrapper">
    <div class="table-scroll">
      <table class="table table-striped table-hover table-responsive table-bordered table-condensed">
        <thead>
          <tr>
            <th>x</th>
            <th>y</th>
            <th>z</th>
            <th>Z effect</th>
            <th>Edit/Insert/Delete</th>
          </tr>
        </thead>
        <draggable v-model="list" :element="'tbody'">
          <tr v-for="(person, index) in list" :key="person" v-on:mouseover="highlighter(person)">
            <td> <Textfield v-model="person.x" :updateFunc="setValue"></Textfield></td>
            <td> <Textfield v-model="person.y" :updateFunc="setValue"></Textfield></td>
            <td> <Textfield v-model="person.z" :updateFunc="setValue"></Textfield></td>
            <td> <Textfield v-model="person.Z_eff"></Textfield></td>
            <td>
              <button type="button" class="btn btn-danger" aria-label="Left Align">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-success" aria-label="Left Align">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-scissors" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
        </draggable>
      </table>
    </div>
  </div>
</script>

<script>



Vue.component('brain-widget', {
  template: `
            <div>
              <div class="col-md-4">
                <div v-bind:id="id" class="brainWidget"></div>

                <div class="col-md-8" v-bind:id="tableid"></div>
               </div>

               <div class="col-md-8">
                 <div class="row">
                   <local-table v-model="locations" :updater="updatePoints"></local-table>
                 </div>
               </div>
             </div>

             `,
  props: ['id', 'locations', 'canvasid', 'tableid', 'renderer'],
  data: function () {
    return {
      brain: null,
    };
  },

  watch: {
    locations: {
      handler: function () {
        console.log('updating brain widget?', this.locations);
        this.brain.locations = this.locations;
        this.brain.updateSpheres();
      },

      deep: false, //set this to true and you loop forever
    },
  },

  methods: {
    updatePoints: function () {
      this.brain.updateSpheres();
    },
  },

  created: function () {
    console.log('creating');
  },

  mounted: function () {

    this.brain = new Brain('#' + this.id, 'lrh3.ply', '#renderer', this.renderer);
    this.brain.renderer = this.renderer;

    //this.brain.animate()
    this.brain.locations = this.locations;
    this.brain.updateSpheres();
    this.brain.mouseDown(function (sphereMesh, locationRow) {
      console.log('you clicked', sphereMesh, locationRow);
    });
  },

});

const Textfield = {
  props: ['value', 'placeholder', 'keyName', 'obj', 'index', 'updateFunc', 'arr'],
  template: `
  <div class="textfield">
    <input :value="value" :placeholder="getPlaceholder()" v-on:input="onInput" type="text">
  </div>
  `,
  methods: {
      onInput(e) {
        const value = e.target.value;

        //Add this line
        this.$emit('input', value);
        if (this.updateFunc) {
          this.updateFunc();
        }

      },

      getPlaceholder() {
        if (!this.value && this.placeholder) {
          return this.placeholder;
        } else {
          return '';
        }
      },
    },
};

Vue.component('local-table', {
  template: '#tab',
  components: {
    Textfield,
  },
  props: ['value', 'updater'],
  name: 'local-table',
  computed: {
    list: {
        get() {
          console.log('get');
          return this.value;
        },

        set(value) {
          console.log('set', value);
          this.$emit('input', value);
        },
      },
  },
  methods: {
    highlighter: function (e) {
      //console.log('highlighted', e);
    },

    setValue: function (arr) {
      this.updater();
    },
  },
});

function getRenderer() {
  var renderer = new THREE.WebGLRenderer({
                        canvas: document.getElementById('renderer'),
                        antialias: true, // to get smoother output
                        preserveDrawingBuffer: true, // to allow screenshot
                        alpha: true,
                      });
  renderer.setClearColor(0xffffff, 0);
  renderer.setPixelRatio(window.devicePixelRatio ? window.devicePixelRatio : 1);
  renderer.autoClear = false;
  return renderer;
}

var app = new Vue({
  el: '#app',
  components: {
    //localTable: localTable,
    Textfield: Textfield,
  },
  data: {
    message: 'Loading...',
    abstract: 'Loading..',
    authors: 'Loading..',
    experiments: [],
    renderer: null,
  },
  watch: {
    experiments: function () {
      console.log('exp changed');
    },
  },
  mounted: function () {
    this.renderer = getRenderer();
    this.animate();
  },

  methods: {
    animate: function () {
      var canvas = $('#renderer')[0];//$("#3d")[0];
      var width = canvas.clientWidth;
      var height = canvas.clientHeight;

      if (canvas.width !== width || canvas.height != height) {
        this.renderer.setSize(width, height, false);
      }

      // render
      this.renderer.setClearColor(0xffffff, 0);
      this.renderer.clear(true);
      this.renderer.enableScissorTest(true);

      this.$children.forEach(function (item, idx, arr) {
        if ('brain' in item) {
          item.brain.render();
        }
      });

      this.renderer.enableScissorTest(false);

      requestAnimationFrame(this.animate.bind(this));
    },
  },
});

var id = 19619662; //19892766 //17566765
$($.ajax({
            type: 'GET',
            url: 'https://brainspell.herokuapp.com/json/article?pmid=' + id,
          }).complete(function (o) { // MAIN INIT
              var j = o.responseText;

              var obj = JSON.parse(j);
              console.log(obj);
              app.message = obj.title;
              app.authors = obj.authors;
              app.abstract = obj.abstract;

              obj.experiments = JSON.parse(obj.experiments);
              obj.experiments.forEach(function (obj, idx, arr) {
                arr[idx].locations = _.map(obj.locations, function (loc) {
                  var coords = loc.split(',');
                  return { x: parseFloat(coords[0]),
                          y: parseFloat(coords[1]),
                          z: parseFloat(coords[2]), };
                });

                arr[idx].canvas_id = 'canvas' + idx;
                arr[idx].table_id = 'table' + idx;
              });

              app.experiments = _.filter(obj.experiments, function (v) {
                return v.locations.length ? true : false;
              });

              //obj.metadata = JSON.parse(obj.metadata)
            }),

  );

</script>
</html>
